<h3 class="mt-8 text-base font-bold tracking-tight text-slate-900">
  Have questions?
</h3>

<p class="text-slate-900">
  Still have questions? <a href="mailto:{{ metadata.supportEmail }}" class="underline hover:no-underline">Talk to support</a>.
</p>
